# Import Library

In [134]:
import sklearn.datasets as skd
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Create Category

In [148]:
categories = ['bollywood', 'hollywood','politics', 'cricket','food','football','mobiles','machine learning','bigg boss','happy birthday']

# Read Data From CSV

In [149]:
data = pd.read_csv('data_large_5000.csv')

# Show data

In [150]:
data

                                                  tweets   tagname
0      amp TeamIndia IndvsBan DayandNightTest PinkBal...   cricket
1       BharatArmyAwards Here are the nominees for th...   cricket
2       ALE TeamIndia for the upcoming series against...   cricket
3       Getting into PinkBallTest mode TeamIndia INDvBAN   cricket
4       Umpiring in the first ever pink ball match at...   cricket
...                                                  ...       ...
35298  Let the congress amp pesudo intelllectuals kno...  politics
35299                                           shah HMO  politics
35300                                           shah HMO  politics
35301                                        Who Is Kaal  politics
35302                                        Who Is Kaal  politics

[35303 rows x 2 columns]

# Create Variable

In [151]:
x = data.tweets
y = data.tagname

In [152]:
y.unique()

array(['cricket', 'tagname', 'mobiles', 'food', 'machine learning',
       'hollywood', 'happy birthday', 'football', 'bollywood',
       'bigg boss', 'politics'], dtype=object)

# Split Data into test(80%) and train(20%)

In [153]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# Create linear  pipeline for algorithm first go tf_idf than navies bayes

In [154]:
text_clf = Pipeline([('vect', TfidfVectorizer()), ('clf', MultinomialNB()) ])

# Now, give training our data

In [155]:
# train the model
text_clf.fit(x_train, y_train)

Pipeline(memory=None,
         steps=[('vect',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [190]:
#Self test
a = ["She was the reigning queen of modern Bollywood choreography. \
     Just like fans of Hollywood actresses can search for images of\
     their favorite babealicious starlets online, there are many\
     websites dedicated to photos of the many Bollywood actresses\
     who steam up the Bollywood screens","for humans is mostly made\
     through farming or gardening. It includes animal and vegetable\
     sources. Some people refuse to eat food from animal origin, like meat, eggs,"]
predicted = text_clf.predict(a)

In [191]:
for x in predicted:
    print(x)

machine learning

In [158]:
# Predict the test cases
predicted = text_clf.predict(x_test)

In [159]:
print('Accuracy achieved is ' + str(np.mean(predicted == y_test)))
print(metrics.classification_report(y_test, predicted, target_names=categories)),
metrics.confusion_matrix(y_test, predicted)

Accuracy achieved is 0.9400934711797196
                  precision    recall  f1-score   support

       bollywood       0.99      0.85      0.91       284
       hollywood       0.87      0.94      0.90       996
        politics       1.00      0.97      0.98      1030
         cricket       0.94      0.95      0.95       961
            food       0.90      0.98      0.94      1001
        football       0.98      0.95      0.96       627
         mobiles       0.95      0.87      0.91      1070
machine learning       0.95      0.98      0.97       965
       bigg boss       1.00      0.66      0.80        86
  happy birthday       1.00      0.46      0.63        41

        accuracy                           0.94      7061
       macro avg       0.96      0.86      0.90      7061
    weighted avg       0.94      0.94      0.94      7061

array([[ 240,   17,    2,    2,   13,    0,    6,    4,    0,    0],
       [   1,  941,    2,   11,    9,    9,   21,    2,    0,    0],
       [   0,    7, 1002,    1,   18,    0,    2,    0,    0,    0],
       [   0,   14,    0,  917,   12,    2,    3,   13,    0,    0],
       [   0,    4,    0,    3,  985,    1,    5,    3,    0,    0],
       [   0,    9,    0,    5,   13,  595,    3,    2,    0,    0],
       [   0,   70,    0,   20,   29,    2,  936,   13,    0,    0],
       [   0,    2,    0,    5,    5,    1,    6,  946,    0,    0],
       [   0,   10,    1,    4,    3,    0,    2,    9,   57,    0],
       [   1,   11,    0,    6,    3,    0,    1,    0,    0,   19]],
      dtype=int64)